body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html,
.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  background-color: #313247;
  color: #ffffff;
}

.center-text{
  text-align: center;
}

.user-choice {
  margin: 36px;
  object-position: center; 
}

.add-margin{
  margin: 10px;
}

.add-padding{
  padding: 10px;
}

.button{
  outline: none;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

h1{
  margin-bottom: 46px;
}

.button-green{
  background-color: #4CAF50;
}

.button-red{
  background-color: red;
}

.symbol {
  width: 100px;
  height: 100px;
  background-color: grey;
  font-size: 46px;
  cursor: pointer;
  padding-top: 5px;
  border-radius: 12px;
}

.history{
  width: 50%;
  text-align: left;
  margin: auto;
  max-height: 100px;
}